/*
 * rum
 *
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * API version: 1.0.0
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package tools

import (
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"

	"github.com/lixvyang/rum-sdk-go/sdk/base"
	"github.com/lixvyang/rum-sdk-go/sdk/model"

	"github.com/antihax/optional"
)

func New(service *base.APIClient) *ToolsApiService {
	return &ToolsApiService{service}
}

// Linger please
var (
	_ _context.Context
)

type service struct {
	client *base.APIClient
}

// ToolsApiService ToolsApi service
type ToolsApiService service

// ToolsApiApiV1ToolsPubkeytoaddrPostOpts Optional parameters for the method 'ApiV1ToolsPubkeytoaddrPost'
type ToolsApiApiV1ToolsPubkeytoaddrPostOpts struct {
	ApiPubkeyParam optional.Interface
}

/*
ApiV1ToolsPubkeytoaddrPost PubkeyToEthaddr
Convert a based64 encoded libp2p pubkey to the eth address
  - @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
  - @param optional nil or *ToolsApiApiV1ToolsPubkeytoaddrPostOpts - Optional Parameters:
  - @param "ApiPubkeyParam" (optional.Interface of ApiPubkeyParam) -

@return model.ApiPubkeyToEthaddrResult
*/
func (a *ToolsApiService) ApiV1ToolsPubkeytoaddrPost(ctx _context.Context, localVarOptionals *ToolsApiApiV1ToolsPubkeytoaddrPostOpts) (model.ApiPubkeyToEthaddrResult, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  model.ApiPubkeyToEthaddrResult
	)

	// create path and map variables
	localVarPath := a.client.Cfg.BasePath + "/api/v1/tools/pubkeytoaddr"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := base.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := base.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	if localVarOptionals != nil && localVarOptionals.ApiPubkeyParam.IsSet() {
		localVarOptionalApiPubkeyParam, localVarOptionalApiPubkeyParamok := localVarOptionals.ApiPubkeyParam.Value().(model.ApiPubkeyParam)
		if !localVarOptionalApiPubkeyParamok {
			return localVarReturnValue, nil, base.ReportError("apiPubkeyParam should be ApiPubkeyParam")
		}
		localVarPostBody = &localVarOptionalApiPubkeyParam
	}

	r, err := a.client.PrepareRequest(ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.CallAPI(r)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := base.GenericOpenAPIError{
			Msg:  localVarBody,
			Err: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := base.GenericOpenAPIError{
			Msg:  localVarBody,
			Err: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
